{% extends "blog/base.html" %}
{% load custom_tags %}
{% block content %}
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">
            <a class="text-decoration-none text-reset"
               href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        {% if post.category.id %}
            <a class="badge bg-secondary text-decoration-none"
               href="{% url 'post_by_category' pk=post.category.id %}">{{ post.category }}</a>
        {% endif %}
        {% if post.published_date %}
            <p class="blog-post-meta">Last update: {{ post.published_date }} by {{ post.author|formal_name }}</p>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
        {% include "blog/postDetail/related_posts.html" with related_posts=related_posts %}
        {% include "blog/postDetail/comments_list.html" with comments=comments %}
        {% if user.is_authenticated %}
            {% include "blog/postDetail/comment_post_form.html" with pk=post.pk comment_id=-1 %}
        {% endif %}
        {% include "blog/postDetail/post_updates_list.html" with updates=updates %}
        {% more_about "category" title=post.category %}
        {% more_about "author" title=post.author|formal_name custom_title_text="More by" %}
    </article>
{% endblock content %}
