{% extends "blog/base.html" %}
{% block content %}
  {% for post in posts %}
    <article class="blog-post">
      <h2 class="blog-post-title mb-1">
        <a class="text-reset text-decoration-none"
           href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
      </h2>
      <p class="blog-post-meta">Published: {{ post.published_date }}</p>
      <p>{{ post.text|linebreaksbr }}</p>
      {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}">
          <button class="btn btn-outline-dark">Edit</button>
        </a>
      {% endif %}
    </article>
  {% endfor %}
  {% block pagination %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          {% if page_obj.has_next %}<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>{% endif %}
        </span>
      </div>
    {% endif %}
  {% endblock pagination %}
{% endblock content %}
