{% extends "blog/base.html" %}
{% load custom_tags %}
{% block content %}
  {% if filter %}
    {% include "blog/post_filter.html" with filter=filter %}
  {% endif %}
  {% for post in posts %}
    {% if post.published_date or user.is_authenticated %}
      <article class="blog-post">
        <h2 class="blog-post-title mb-1">
          <a class="text-reset text-decoration-none"
             href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        {% if post.category.id %}
          <a class="badge bg-secondary text-decoration-none"
             href="{% url 'post_by_category' pk=post.category.id %}">{{ post.category }}</a>
        {% endif %}
        <p class="blog-post-meta">
          Created: {{ post.created_date|timesince }} ago.
          {% if post.published_date %}
            Last update: {{ post.published_date|timesince }} ago by <a href="{% url 'post_by_author' pk=post.author.id %}">{{ post.author|formal_name }}</a>
          {% else %}
            NOT PUBLISHED
          {% endif %}
        </p>
        <p>{{ post.text|linebreaksbr|truncatechars:240 }}</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          {% if user.is_authenticated %}
            <a class="btn btn-outline-dark" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
            <a class="btn btn-outline-dark"
               href="{% url 'post_delete' pk=post.pk %}">Delete</a>
            {% if not post.published_date %}
              <a class="btn btn-outline-dark"
                 href=" {% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
          {% endif %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
  {% block pagination %}
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          {% if page_obj.has_next %}<a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>{% endif %}
        </span>
      </div>
    {% endif %}
  {% endblock pagination %}
{% endblock content %}
